<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CryptoDating</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CryptoDating</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#what">What?</a>
                    </li>
                    <li>
                        <a href="#how">How?</a>
                    </li>
                  <li>
                    <a href="#why">Why?</a>
                  </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Dating by the Numbers</h1>
                <h3>Don't give a fake number, encrypt it!</h3>
                <p class="lead">This will create a PDF of your encrypted number as a business card for you to take to a printer, if your number is 555-867-5309, then input as shown.</p>
              <form class="form-inline" action="/" method="post">
                <div class="form-group">
                  <label class="sr-only" for="area_code">Name</label>
                  <input name="name" type="text" class="form-control" id="name" placeholder="Name (Optional)">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="area_code">Area Code</label>
                  <input name="area_code" type="text" class="form-control" id="area_code" placeholder="555" required>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="first_three">Password</label>
                  <input name="first_three" type="text" class="form-control" id="first_three" placeholder="867" required>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="last_four">Password</label>
                  <input name="last_four" type="text" class="form-control" id="last_four" placeholder="5309" required>
                </div>
                <button type="submit" class="btn btn-default">Encrypt!</button>
              </form>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container" id="what">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette">
            <img class="featurette-image img-rounded img-responsive pull-right" src="imgs/kanye-confused.gif">
            <h2 class="featurette-heading">Call Me... Maybe?
                <span class="text-muted">Make Your Phone Number a Puzzle</span>
            </h2>
            <p class="lead">I get a lot of 'Hey bae, lemme get yo digits', so I made this puzzle to make fun of them!
            The look on their faces is priceless. Someone with a background in math can figure it out in about half an hour,
              and those are the sorts of guys you want calling! Meet smart people!</p>
        </div>

        <hr class="featurette-divider"id="how">

        <!-- Second Featurette -->
        <div class="featurette">
            <img class="featurette-image img-rounded img-responsive pull-left" src="imgs/flirtygif.gif">
            <h2 class="featurette-heading">Its a Math Puzzle in a Calling Card
                <span class="text-muted">Just Input Your Phone Number & Get the PDF</span>
            </h2>
            <p class="lead">The puzzle key is on the back, and your encrypted number is on the front.
              This site is a little pdf generator that takes the inputted number and puzzles it up, and give you the file
              to take to the printer. You don't need to make an account, and I don't store anything because
              I'm a software developer, not a security expert, and I don't want the trouble.</p>
        </div>

      <div class="featurette">
        <img class="featurette-image img-rounded img-responsive pull-right" src="http://placehold.it/500x500">
        <h2 class="featurette-heading">Input number, press button.
          <span class="text-muted">Get redirected to a pdf document that will look an awful lot like this.</span>
        </h2>
        <p class="lead">This is a two sided business card at 300 dpi, one color. Just download it and take it to a printer or print it out
        at home and have your own CryptoDating cards! The name on the front is optional, if you decline to input a name, a blank line is
         rendered instead, so you can write any name you like. This example is the number 555-867-5309</p>
      </div>

        <hr class="featurette-divider">

      <!-- Third Featurette -->
      <div class="featurette" id="why">
        <img class="featurette-image img-rounded img-responsive pull-right" src="imgs/poison.jpg">
        <h2 class="featurette-heading">Is This Great or What?
          <span class="text-muted">If you really like it, you can donate to the creator!</span>
        </h2>
        <p class="lead">I set it up for free because I like fun things, but I do appreciate the coffee-money,
          since most of my non-work related development is done with a cup of poison in my local Starbucks.</p>
        <p class="lead">Want to see the code? Or contribute a feature? <a href="https://github.com/cmm0004/cryptodating">Check it out on github.</a></p>
      </div>

      <hr class="featurette-divider">


      <!-- Footer -->
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Candice, AKA FuncMasterC</p>
          </div>
        </div>
      </footer>
    </div>

    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
